mediapipe>=0.10.0
opencv-python>=4.8.0
pandas
torch>=2.0.0
onnx
scikit-learn>=1.3.0
torchvision
tqdm>=4.65.0
matplotlib>=3.7.0
seaborn
dtaidistance>=2.3.10
hdbscan>=0.8.33
scipy>=1.11.0
numpy>=1.24.0
google-cloud-storage>=2.10.0
